#pane-right{
  position: relative;
  overflow: hidden;
}
#right-frame{
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   /* 回弹动画 */
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  will-change: transform;
}
.tab_content {
  position:relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 25%; /* 每个页面都是一个完整视口 */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#content_list{
  padding: 5% 0 5% 0;
}
#content_setting{
  padding: 5% 0 5% 0;
  -webkit-app-region: no-drag;
}

#content_play{
  -webkit-app-region: no-drag;
}
#content_list{
  -webkit-app-region: no-drag;
}

