.tab_content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* 每个页面都是一个完整视口 */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* 回弹动画 */
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  will-change: transform;
}
#content_list{
  padding: 5% 0 5% 0;
}
#content_play{
  -webkit-app-region: no-drag;
}
#content_list{
  -webkit-app-region: no-drag;
}