#svglogo {
  width: 100%;
  height: 100%;
  display: block;
}
#svglogo * {
  pointer-events: none; /* 不接收鼠标事件 */
  user-select: none;
  cursor: default !important;
}
.navigation_bar i {
  font-size: 25px;
  line-height: 1;
  width: 1.25em;
  text-align: center;
  color: inherit;
}
.navigation_bar {
  width: 35%;
  height: 12.5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}
