#svglogo {
  width: 100%;
  height: 100%;
  display: block;
}
#svglogo * {
  pointer-events: none; /* 不接收鼠标事件 */
  user-select: none;
  cursor: default !important;
}
.navigation_bar i {
  font-size: 25px;
  color: white;
}
.navigation_bar {
  cursor: pointer;
}
