#return_btn_box {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5% 0 5% 0;
  -webkit-app-region: no-drag;
  gap: 5%;
}
#widgets {
  flex: 5;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5% 0 5% 0;
  gap: 10%;
  color: white;
  -webkit-app-region: no-drag;
}
#disco_box {
  flex: 4;
  width: 100%;
  height: 100%;
  padding: 5% 0 5% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#list_func {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5%;
}
#list_box {
  flex: 9;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  overflow-y: auto;   /* 关键：允许垂直滚动 */
  overflow-x: hidden; /* 只隐藏横向 */
}
#list_box::-webkit-scrollbar {
  width: 5%;  /* 滚动条宽度 */
}
#list_box::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); /* 透明 */
}

#list_box::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.18); 
  border-radius: 10px;
}

#list_box::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.28); /* hover 稍微亮一点 */
}

/* Firefox */
#list_box {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,0.18) transparent;
}